<section class="reviews-section">
  <h2>REVIEWS</h2>
  <div class="slick-container">
    <div class="review">
      {{ "trustpilot-widget.png" | asset_url | img_tag: "pilot" }}
    </div>
    <div class="review">
      {{ "trustpilot-widget.png" | asset_url | img_tag: "pilot" }}
    </div>
    <div class="review">
      {{ "trustpilot-widget.png" | asset_url | img_tag: "pilot" }}
    </div>
    <div class="review">
      {{ "trustpilot-widget.png" | asset_url | img_tag: "pilot" }}
    </div>
    <div class="review">
      {{ "trustpilot-widget.png" | asset_url | img_tag: "pilot" }}
    </div>
    <div class="review">
      {{ "trustpilot-widget.png" | asset_url | img_tag: "pilot" }}
    </div>
    <div class="review">
      {{ "trustpilot-widget.png" | asset_url | img_tag: "pilot" }}
    </div>
    <div class="review">
      {{ "trustpilot-widget.png" | asset_url | img_tag: "pilot" }}
    </div>
    <div class="review">
      {{ "trustpilot-widget.png" | asset_url | img_tag: "pilot" }}
    </div>
  </div>
  <div class="trust-line">
    {{ "trustpilot-line.png" | asset_url | img_tag: "pilot" }}
  </div>
  <div class="button-container">
    <button class="theme-button top large blue">BUY NOW</button>
  </div>
</section>
