<section class="products-section">
  {%- assign collection = collections['all'] -%}

  <div class="all-packages-header first-header">
    <h2 class="all-packages-title">What is Combo Shot?</h1>
    <p class="all-packages-sub-text">
      Combo shot is the exceptional health package offering stronger, younger
      skin with the purest marine collagen, the most incredible support for
      joints and muscle, and our extra strength Vitamin D booster with over 50
      extra vitamins and minerals to keep you feeling a million dollars!
    </p>
  </div>
    <div class="all-packages-header">
      <h2 class="all-packages-title">Choose your health package</h1>
      <p class="all-packages-sub-text">
        Browse through our selection of packages and find the one which best suits your health needs, from one month <span>to an annual package.</span>
      </p>
    </div>
    <div class="all-packages-container">
        {%- for item in collection.products -%}
        <div class="package-card {{ item.handle }}">
            <div class="package-card-img">
                <img src={{ item.featured_image | img_url: '650x650' }} alt="{{item.title}}">
            </div>
            <div class="title">
                <p class='starts fake-center'>{{item.title}}</p>
                 {{item.metafields.global.short_description }}
            </div>
            <div class="card-footer">
                <div class="price">
                    <p>Starting from {{item.price_max | divided_by: 1 | money}}</p>
                </div>
                  <a href="{{item.url}}" class="theme-button large">FIND OUT MORE</a>
            </div>
        </div>

        {%- endfor -%}
    </div>

</section>
