{% for image in product.images %} {% if image.alt contains "package-box" %} {%-
assign pack_img = image | img_url: 'original'-%} {% endif %} {% endfor %}

<section class="product-info">
  {%- assign collection = collections['all'] -%}

  <div class="product-info-header">
    {% if product.handle contains 'package' %}
    <h2>WHY YOU NEED COMBO SHOT</h2>
    <div class="products-names">
      {% for item in collection.products %}
      <p class="{%- if product == item -%}actual{%- endif -%}">
        <a href="{{ item.url }}">
          {{ item.title }}
        </a>
      </p>
      {% endfor %}
    </div>
    {% else %}
    <h2>WHAT'S INSIDE</h2>
    <div class="link-names bottles-info-links">
      <p class="active">Description</p>
      <p>Ingredients</p>
    </div>

    {% endif %}
  </div>
  <div class="product-info-body">
    <div class="img-container">
      <div class="info-img">
        {{ product.featured_image | img_url: "large" | img_tag }}
      </div>
    </div>
    <div class="content" id="info">
      <p class="content-title">{{ product.title }}</p>
      {{ product.description }}
      <div class="direct-checkout-link">
        <a href="#" class="theme-button">BUY NOW</a>
      </div>
    </div>
    {% if product.metafields.global.ingredients %}
    <div class="content d-none" id="ingredients">
      <p class="content-title">Ingredients</p>
      <div class="small_container">
        {{ product.metafields.global.ingredients }}
      </div>
    </div>
    {% endif %}
  </div>
</section>
