<footer class="footer-section">
    <div class="footer-logo-container">
        {{ 'combo-shot-logo.svg' | asset_url | img_tag: 'combo shot logo','footer-logo-img' }}
    </div>
    <div class="footer-social-links">
        {{ 'social-email.svg' | asset_url | img_tag: 'email logo','social-img' }}
        {{ 'social-instagram.svg' | asset_url | img_tag: 'instagram logo','social-img' }}
        {{ 'social-facebook.svg' | asset_url | img_tag: 'facebook logo','social-img' }}
        {{ 'social-twitter.svg' | asset_url | img_tag: 'twitter logo','social-img' }}
        {{ 'social-linkedin.svg' | asset_url | img_tag: 'linkedin logo','social-img' }}
    </div>
    <div class="footer-info-container">
        {{ 'footer-info.svg' | asset_url | img_tag: '5 star trust pilo rating & "developed by opop media" logo ','footer-info-img' }}
    </div>
</footer>