<section class="bottles-section">
    <div class="bottles-content">
        <div class="all-packages-header">
            <h1 class="all-packages-title">BROWSE OUR AMAZING PACKAGES</h1>
            <p class="all-packages-sub-text">Choose which package best suits you and the subscription options from one month to an annual package.</p>
        </div>
        <div class="all-packages-group">
            <div class="all-packages-container">
                {{ 'face-on-joint-box.png' | asset_url | img_tag: 'combo shot joint package','all-packages-img' }}
                <div class="all-packages-text">
                    <div class="all-packages-details">
                        <p class="all-packages-name"><strong>Joint Care Package</strong></p>
                        {{ 'stars.svg' | asset_url | img_tag: '5 star rating','stars-img' }}
                    </div>
                    <p class="all-packages-properties">Includes Joint support & 150 Multi Vitamins</p>
                </div>
                <p class="starting-text">STARTING FORM £79.98</p>
                <a href="/pages/packages"><button class="packages-buy-btn yellow">FIND OUT MORE</button></a>
            </div>
            <div class="all-packages-container">
                {{ 'face-on-collagen-box.png' | asset_url | img_tag: 'combo shot collagen package','all-packages-img' }}
                <div class="all-packages-text">
                    <div class="all-packages-details">
                        <p class="all-packages-name"><strong>Collagen Care Package</strong></p>
                        {{ 'stars.svg' | asset_url | img_tag: '5 star rating','stars-img' }}
                    </div>
                    <p class="all-packages-properties">Includes Collagen V12 & 150 Multi Vitamins</p>
                </div>
                <p class="starting-text">STARTING FORM £39.99</p>
                <a href="/pages/packages"><button class="packages-buy-btn purple">FIND OUT MORE</button></a>
            </div>
            <div class="all-packages-container">
                {{ 'face-on-premium-box.png' | asset_url | img_tag: 'combo shot premium package','all-packages-img' }}
                <div class="all-packages-text">
                    <div class="all-packages-details">
                        <p class="all-packages-name"><strong>Premium Care Package</strong></p>
                        {{ 'stars.svg' | asset_url | img_tag: '5 star rating','stars-img' }}
                    </div>
                    <p class="all-packages-properties">Includes Collagen V12, Joint support & 150 Multi Vitamins</p>
                </div>
                <p class="starting-text">STARTING FORM £31.99</p>
                  <a href="/pages/packages"><button class="packages-buy-btn blue">FIND OUT MORE</button></a>
            </div>
        </div>
    </div>
  </section>