<section class="bottles-section">
    <div class="bottles-content">
        <div class="all-packages-header">
            <h1 class="all-packages-title">BROWSE OUR AMAZING PACKAGES</h1>
            <p class="all-packages-sub-text">Choose which package best suits you and the subscription options from one month to an annual package.</p>
        </div>
        <div class="all-packages-group">
            <div class="all-packages-container">
                {{ 'face-on-premium-box.png' | asset_url | img_tag: 'combo shot premium package','all-packages-img' }}
                <div class="all-packages-text">
                    <div class="all-packages-details">
                        <p class="all-packages-name"><strong>Premium Package</strong></p>
                        {{ 'stars.svg' | asset_url | img_tag: '5 star rating','stars-img' }}
                    </div>
                    <p class="all-packages-properties">Includes Collagen V12, Joint support & 150 Multi Vitamins</p>
                </div>
                <div class="packages-type-container">
                    <div class="package-type">
                      <button class="gold-type-btn blue premium-one-month">1 MONTH</button>
                    </div>
                    <div class="package-type">
                      <button class="gold-type-btn blue premium-three-month">3 MONTHS</button>
                    </div>
                    <div class="package-type">
                      <button class="gold-type-btn blue premium-one-year">1 YEAR</button>
                    </div>
                  </div>
                  <button class="packages-buy-btn blue">BUY NOW</button>
                </div>
            <div class="all-packages-container">
                {{ 'face-on-gold-box.png' | asset_url | img_tag: 'combo shot gold package','all-packages-img' }}
                <div class="all-packages-text">
                    <div class="all-packages-details">
                        <p class="all-packages-name"><strong>Gold Package</strong></p>
                        {{ 'stars.svg' | asset_url | img_tag: '5 star rating','stars-img' }}
                    </div>
                    <p class="all-packages-properties">Includes Collagen V12 & 150 Multi Vitamins</p>
                </div>
                <div class="packages-type-container">
                    <div class="package-type">
                      <button class="gold-type-btn purple gold-one-month">1 MONTH</button>
                    </div>
                    <div class="package-type">
                      <button class="gold-type-btn purple gold-three-month">3 MONTHS</button>
                    </div>
                    <div class="package-type">
                      <button class="gold-type-btn purple gold-one-year">1 YEAR</button>
                    </div>
                </div>
                <button class="packages-buy-btn purple">BUY NOW</button>
            </div>
            <div class="all-packages-container">
                {{ 'face-on-bronze-box.png' | asset_url | img_tag: 'combo shot bronze package','all-packages-img' }}
                <div class="all-packages-text">
                    <div class="all-packages-details">
                        <p class="all-packages-name"><strong>Bronze Package</strong></p>
                        {{ 'stars.svg' | asset_url | img_tag: '5 star rating','stars-img' }}
                    </div>
                    <p class="all-packages-properties">Includes Joint support & 150 Multi Vitamins</p>
                </div>
                <div class="packages-type-container">
                    <div class="package-type">
                      <button class="gold-type-btn yellow bronze-one-month">1 MONTH</button>
                    </div>
                    <div class="package-type">
                      <button class="gold-type-btn yellow bronze-three-month">3 MONTHS</button>
                    </div>
                    <div class="package-type">
                      <button class="gold-type-btn yellow bronze-one-year">1 YEAR</button>
                    </div>
                </div>
                <button class="packages-buy-btn yellow">BUY NOW</button>
            </div>
        </div>
    </div>
  </section>