<section id="sciency-bit-why">
  <div class="border-container sciency-bit">
    <h2 class="sciency-bit-header">
      Why liquid is superior to pills and creams
    </h2>
    <p class="sciency-bit-sub-header">
      Combo Shot can be more than <span>20 times more effective</span> than your
      average collagen tablets
    </p>

    <div class="swap-me-container">
      <div class="swap-me-container-text">
        <p>swap me</p>
      </div>
      <div class="swap-me-container-btn">
        <button class="btn-creams" id="btn-active-creams">CREAMS</button>
        <button class="btn-pills">PILLS</button>
      </div>
    </div>

    <div class="creams-info" id="toggle">
      <img
        src="{{ 'sciency-combo.png' | asset_img_url: '' }}"
        class="first-img"
      />
      <div class="creams-info-text">
        <h3><span>combo shot</span> vs creams</h3>
        <p>
          <b> Collagen cream: </b>Huge collagen molecules are just too big to
          penetrate your epidermis.
        </p>
        <p>
          <b> Combo shot capful: </b><span>95%</span> absorption rate due to
          hydrolysis.
        </p>
      </div>
      <div class="last-img-container">
        <img
          src="{{ 'sciency-combo.png' | asset_img_url: '' }}"
          class="mobile-img"
        />
        <img src="{{ 'cream.png' | asset_img_url: '' }}" class="last-img" />
      </div>
    </div>

    <div class="pills-info">
      <img
        src="{{ 'sciency-combo.png' | asset_img_url: '' }}"
        class="first-img"
      />
      <div class="creams-info-text">
        <h3><span>combo shot</span> vs pills</h3>
        <p>
          <b> Collagen tablets: </b><span id="pill-span">35%</span> absorption
          rate.
        </p>
        <p>
          <b> Combo shot capful: </b><span>95%</span>absorption rate due to
          hydrolysis.
        </p>
      </div>
      <div class="last-img-container">
        <img
          src="{{ 'sciency-combo.png' | asset_img_url: '' }}"
          class="mobile-img"
        />
        <img src="{{ 'pills.png' | asset_img_url: '' }}" class="last-img" />
      </div>
    </div>
    <div class="btn-container">
      <a href="/pages/choose-product#shopify-section-1-Combo-all-packages" class="theme-button large green">
        FIND YOUR PERFECT PACKAGE
      </a>
    </div>
  </div>
</section>
