<section class="bottles-section">
    <div class="bottles-content">
        <div class="bottles-group">
            <div class="bottle-container">
                <div class="bottle-overlay">
                    <p class="bottle-overlay-text">
                        Get the immune-supporting, antioxidant benefits of these multi vitamins with natural citrus flavonoids*
                        Multi vitamins include 150 tablets each containing a vitamin boost which really packs a punch.
                        From vitamin C to B12 with bioflavonoids from oranges, optimizes the beneficial effects of vitamin C by 
                        replicating the way it’s found in nature – in the presence of flavonoids.
                    </p>
                </div>
                {{ 'combo-bottle-1.png' | asset_url | img_tag: 'combo bottle joint support','combo-bottle-img' }}
                <div class="bottle-text">
                    <p class="bottle-name"><strong>Joint Support with added vitamins</strong></p>
                    <p class="bottle-properties">Oraganic, Immune, Health</p>
                    {{ 'stars.svg' | asset_url | img_tag: '5 star rating','stars-img' }}
                </div>
            </div>
            <div class="bottle-container">
                <div class="bottle-overlay">
                    <p class="bottle-overlay-text">
                        Get the immune-supporting, antioxidant benefits of these multi vitamins with natural citrus flavonoids*
                        Multi vitamins include 150 tablets each containing a vitamin boost which really packs a punch.
                        From vitamin C to B12 with bioflavonoids from oranges, optimizes the beneficial effects of vitamin C by 
                        replicating the way it’s found in nature – in the presence of flavonoids.
                    </p>
                </div>
                {{ 'combo-bottle-2.png' | asset_url | img_tag: 'combo bottle joint support','combo-bottle-img' }}
                <div class="bottle-text">
                    <p class="bottle-name"><strong>Collagen V12 with added vitamins</strong></p>
                    <p class="bottle-properties">Oraganic, Immune, Health, Drink</p>
                    {{ 'stars.svg' | asset_url | img_tag: '5 star rating','stars-img' }}
                </div>
            </div>
            <div class="bottle-container">
                <div class="bottle-overlay">
                    <p class="bottle-overlay-text">
                        Get the immune-supporting, antioxidant benefits of these multi vitamins with natural citrus flavonoids*
                        Multi vitamins include 150 tablets each containing a vitamin boost which really packs a punch.
                        From vitamin C to B12 with bioflavonoids from oranges, optimizes the beneficial effects of vitamin C by 
                        replicating the way it’s found in nature – in the presence of flavonoids.
                    </p>
                </div>
                {{ 'combo-bottle-3.png' | asset_url | img_tag: 'combo bottle joint support','combo-bottle-img' }}
                <div class="bottle-text">
                    <p class="bottle-name"><strong>Multi Vitamins x150</strong></p>
                    <p class="bottle-properties">Oraganic, Immune, Health Tablet</p>
                    {{ 'stars.svg' | asset_url | img_tag: '5 star rating','stars-img' }}
                </div>
            </div>
        </div>
        <div class="buy-btn-container">
            <a href="https://combo-shot.myshopify.com/cart/36960323305621:1"><button class="buy-btn blue">BUY NOW</button></a>
        </div>
    </div>
  </section>